{% if news.newscover %}
    {% set cover = news.newscover %}
    <div class="with_image">
        <a href="{{ news.get_url() }}">
            <div class="cover" style="background-image: url({{ cover.img.url if cover.img else '' }})">
                <div class="cover-content" style="background-color: {{ cover.color }}aa">
                    <span>{{ cover.content|default('', True) }}</span>
                </div>
                <div class="cover-year" style="background-color: {{ cover.color }}aa">
                    <span>{{ news.date.strftime('%Y') }}</span>
                </div>
            </div>
        </a>
        {% include 'layout/news/news_description.html' %}
    </div>
{% elif news.cover %}
    <div class="with_image">
        <a href="{{ news.get_url() }}">
            <img src="{{ news.cover.url }}" alt="" class="animation-fade animation-delay-2">
        </a>
        {% include 'layout/news/news_description.html' %}
    </div>
{% else %}
    {% include 'layout/news/news_description.html' %}
{% endif %}
