server {
    listen 443;
    server_name smiap.ru;

    ssl_certificate /etc/letsencrypt/live/smiap.ru/fullchain.pem;
    ssl_certificate_key /etc/letsencrypt/live/smiap.ru/privkey.pem;

    # server_tokens off;
    more_set_headers 'Server: smiap.ru';

    root {{ smiap.files_dir }};
    rewrite ^/res/(.*)$ /static/$1 last;

    location ~ ^/(media|static) {}

    location / {
        include uwsgi_params;
        uwsgi_pass 127.0.0.1:8123;
    }
}

server {
    listen 80;
    server_name smiap.ru;

    return 301 https://$server_name$request_uri;
}
