[Unit]
Description=uWSGI instance to serve smiap.ru project
After=network.target

[Service]
User={{ user.name }}
Group={{ user.group }}
WorkingDirectory={{ user.home }}/smiap
Environment="PATH={{ user.home }}/smiap/.venv/bin"
ExecStart={{ user.home }}/smiap/.venv/bin/uwsgi --ini config.ini
Restart=always
KillSignal=SIGQUIT

[Install]
WantedBy=multi-user.target
