@media(max-width:1023px) {
    .grid4 .column {
        width: 31.2%
    }

    .menustring_item {
        width: 15%;
        min-width: 120px
    }

    .news .eventbox .with_image .cover {
        font-size: calc((23vw - 4.5rem) / 7);
    }
}

@media(max-width:800px) {
    .grid4 .column {
        width: 48.4%
    }

    .grid3 .column {
        width: 100% !important
    }

    .grid3-2 .column {
        width: 48.4% !important
    }

    [class*='width-'] {
        display: block;
        width: 100%
    }

    .hamburger {
        cursor: pointer;
        position: absolute;
        z-index: 1000;
        top: 5px;
        right: 20px;
        padding: 10px;
    }

    .hamburger-line {
        background-color: #ffffff;
        width: 30px;
        height: 3px;
        margin-bottom: 5px;
    }

    .mainmenu {
        margin: 0;
        padding-top: 50px;
    }

    .menustring {
        display: none;
        margin: 0 auto;
        flex-direction: column;
    }

    .menustring-open {
        display: flex;
        animation: slide-top .3s ease-out;
    }

    .menustring_item {
        display: block;
        width: 300px;
        margin: 0;
        line-height: 50px;
        border-radius: 3px
    }

    .menustring_subitem {
        display: block;
        visibility: visible;
        position: relative;
        width: 100%;
        text-indent: 0;
        text-align: center;
        line-height: 45px;
        padding: 0;
        border-radius: 0 0 5px 5px
    }

    .menustring_subitem:before {
        display: none
    }

    .menustring_parent:hover {
        border-radius: 3px 3px 0 0
    }

    .menustring_subitem a {
        padding: 0;
    }

    .subnav-vertical {
        margin: 0 auto
    }

    .subnav-vertical a,
    .subnav-vertical p {
        padding: 10px
    }

    .menustring_parent>a {
        pointer-events: none
    }

    .menustring_linksbox {
        display: none;
    }

    #scrollup {
        bottom: 10px;
        top: auto
    }

    .container {
        min-height: calc(100vh - 54px - 174px - 80px);
      }

    .news .eventbox .with_image .cover {
        font-size: calc((32vw - 4.5rem) / 7);
    }
}

@media(max-width:540px) {
    h1 {
        font-size: 18pt
    }

    h2 {
        font-size: 12pt
    }

    h3 {
        font-size: 8pt
    }

    .grid4 .column,
    .grid3 .column,
    .grid3-2 .column,
    .grid2 .column {
        width: 100% !important
    }

    .menustring_item {
        width: 100%;
        text-align: center
    }

    .menustring_subitem {
        width: 100%
    }

    .adaptive table,
    .adaptive thead,
    .adaptive tbody,
    .adaptive th,
    .adaptive td,
    .adaptive tr {
        display: block
    }

    .adaptive table tr {
        border: 1px solid #EEE;
        border-top: 0;
        border-collapse: collapse
    }

    .adaptive table th {
        display: none
    }

    .adaptive table td {
        text-align: left !important;
        border: 0;
        border-top: 1px solid #EEE;
        position: relative;
        padding: 10px;
        box-sizing: border-box;
        padding-left: 50%
    }

    .adaptive table td:before {
        position: absolute;
        top: 5px;
        left: 6px;
        width: 45%;
        padding-right: 30px;
        font-weight: bold;
        color: #06F
    }

    .tabContent {
        font-size: 70%;
    }

    .tabContent .timetable tbody tr:first-child,
    .tabContent .timetable .subhead th {
        font-size: 70%
    }

    .timetable td {
        font-size: 70% !important;
    }

    .news .eventbox .with_image .cover {
        width: 100%;
        padding-bottom: 70.25%;
        margin-bottom: 15px;
        font-size: calc((70vw - 4.5rem) / 7);
    }
}