/* BEGIN Light */
@font-face {
  font-family: 'Open Sans Light';
  src: url(../fonts/Light/OpenSans-Light.eot?v=1.1.0);
  src: url(../fonts/Light/OpenSans-Light.eot?#iefix&v=1.1.0) format("embedded-opentype"), url(../fonts/Light/OpenSans-Light.woff?v=1.1.0) format("woff"), url(../fonts/Light/OpenSans-Light.ttf?v=1.1.0) format("truetype"), url(../fonts/Light/OpenSans-Light.svg?v=1.1.0#OpenSansBold) format("svg");
  font-weight: 300;
  font-style: normal;
}
/* END Light */

/* BEGIN Regular
@font-face {
  font-family: 'Open Sans Regular';
  src: url("./Regular/OpenSans-Regular.eot?v=1.1.0");
  src: url("./Regular/OpenSans-Regular.eot?#iefix&v=1.1.0") format("embedded-opentype"), url("./Regular/OpenSans-Regular.woff?v=1.1.0") format("woff"), url("./Regular/OpenSans-Regular.ttf?v=1.1.0") format("truetype"), url("./Regular/OpenSans-Regular.svg?v=1.1.0#OpenSansBold") format("svg");
  font-weight: normal;
  font-style: normal;
}
END Regular */