article>.share{
	border-top: 1px solid #eee;
    margin: 1em 0 0 0;
    padding: 1em 0 0.5em;
}
article>.share table{
	margin:0;
}
article>.share td{
	border:0;
	padding:0;
}
article>.share a{
	margin:0;
}