SECRET_KEY="{{ smiap.SECRET_KEY }}"
REGISTRATION_SALT="{{ smiap.REGISTRATION_SALT }}"
ENV="{{ smiap.ENV }}"
FILES_ROOT="{{ smiap.FILES_ROOT }}"
LMS_URL="{{ smiap.LMS_URL }}"
LMS_PASSWORD="{{ smiap.LMS_PASSWORD }}"
DEPARTMENT="{{ smiap.DEPARTMENT }}"
BRAND="{{ smiap.BRAND }}"

{% if smiap.EMAIL %}
EMAIL_HOST="{{ smiap.EMAIL_HOST }}"
EMAIL_PORT="{{ smiap.EMAIL_PORT }}"
EMAIL_USER="{{ smiap.EMAIL_USER }}"
EMAIL_PASSWORD="{{ smiap.EMAIL_PASSWORD }}"
EMAIL_FROM="{{ smiap.EMAIL_FROM }}"
{% endif %}

POSTGRES_DB="{{ smiap.POSTGRES_DB }}"
POSTGRES_HOST="{{ smiap.POSTGRES_HOST }}"
POSTGRES_PORT="{{ smiap.POSTGRES_PORT }}"
POSTGRES_USER="{{ smiap.POSTGRES_USER }}"
POSTGRES_PASSWORD="{{ smiap.POSTGRES_PASSWORD }}"
