{% extends 'layout/base.html' %}

{% block title %}
    {{ news.title }} :: Новости :: {{ APP_TITLE }}
{% endblock title %}

{% block description %}
    {{ news.description }}
{% endblock description %}

{% block content %}
    {% include 'layout/extra_nav.html' %}

    <div class="news">
        <div class="width-80 top">
            <div style="margin: 10px;">
                <div class="eventbox flatbox">
                    {% if news.hidden %}
                        <h1>Как эта новость выглядит в списке новостей</h1>
                        <div class="news-preview">
                            <div class="eventbox flatbox" id="{{ news.pk }}">
                                <span class="news-date">{{ news.date.strftime('%-d %B %Y') | title }}</span>
                                <a href="{{ news.get_url() }}" class="news-title_link">
                                    <h2 class="bottom-line">{{ news.title }}</h2>
                                </a>
                                {% include 'layout/news/news_cover.html' %}
                                <p class="right"><a href="{{ news.get_url() }}" class="button_primary">Подробнее</a></p>
                            </div>
                        </div>
                    {% endif %}
                    <span class="category"><a href="{{ url('news:news-list') }}">Новости</a></span>
                    <span class="news-date">
                        <a href="{{ url('news:news-list', kwargs={'date__year': news.date.strftime('%Y') }) }}">{{ news.date.strftime('%Y') }}</a>/
                        <a href="{{ url('news:news-list', kwargs={'date__year': news.date.strftime('%Y'), 'date__month': news.date.strftime('%m') }) }}">{{ news.date.strftime('%m') }}</a>/
                        <a href="{{ url('news:news-list', kwargs={'date__year': news.date.strftime('%Y'), 'date__month': news.date.strftime('%m'), 'date__day': news.date.strftime('%d') }) }}">{{ news.date.strftime('%d') }}</a>
                    </span>
                    <article style="margin-top: 10px">
                        <h1 class="bottom-line">{{ news.title }}</h1>
                        {% if news.render_in == 'md' %}
                            {{ news.text | news_text(news.id) | safe }}
                        {% elif news.render_in == 'html' %}
                            {{ news.text | safe }}
                        {% else %}
                            {{ news.text }}
                        {% endif %}

                        <div class="share">
                            <script type="text/javascript">document.write(VK.Share.button(
                                {
                                    title: '{{ news.title }}',
                                    noparse: false,
                                    {% if news.cover %}image: 'http://smiap.ru{{ news.cover.url }}',{% endif %}
                                }
                                ));
                            </script>
                        </div>
                    </article>
                </div>
            </div>
        </div>
        <div class="width-20 top">
                <aside class="news-aside" style="margin: 5px;">
                    {% if last_news %}
                        <h2 class="bottom-line">Последние новости</h2>
                        {% for n in last_news %}
                        <div class="compact">
                            <span class="news-date">{{ n.date.strftime('%-d %B %Y') | title }}</span>
                            <a href="{{ n.get_url() }}"><h3>{{ n.title }}</h3></a>
                        </div>
                        {% endfor %}
                    {% endif %}
                </aside>
        </div>
    </div>
    <script type="text/javascript" src="{{ static('scripts/lightbox.min.js') }}"></script>
{% endblock content %}