{% extends 'layout/base.html' %}

{% block title %}
    Новости :: Материалы :: {{ APP_TITLE }}
{% endblock title %}

{% block content %}
    {% include 'layout/extra_nav.html' %}

    <div class="news">
  		<div class="width-70 top">
  		    <div style="margin: 0 5px 20px 10px;">
                <h1 class="bottom-line" style="margin: 20px 10px">Новости</h1>
  				{% for news in news_list %}
                    <div class="eventbox flatbox" id="{{ news.pk }}">
                        <span class="news-date">{{ news.date.strftime('%-d %B %Y') | title }}</span>
                        <a href="{{ news.get_url() }}" class="news-title_link">
                            <h2 class="bottom-line">{{ news.title }}</h2>
                        </a>
                        {% include 'layout/news/news_cover.html' %}
                        <p class="right"><a href="{{ news.get_url() }}" class="button_primary">Подробнее</a></p>
                    </div>
  				{% else %}
  					<h1 class="bottom-line" style="margin: 20px 10px">На данный момент новостей нет...</h1>
  				{% endfor %}
  		    </div>
  		</div>
  		<div class="width-30 top">
  		    <div style="margin: 0 5px 20px 4px;">
  		        <h1 class="bottom-line" style="margin: 20px 10px">Оповещения</h1>
  		        <!--
  		            <div class="eventbox flatbox_light" id="">
  		            	<span class="news-date">23-45-6789</span>
  		                <h2 class="bottom-line" style="font-size: 14pt;">Заголовок</h2>
  		                <p class="font-small">item["preview"]</p>
  		            </div>
  		        -->
  		        <h2 class="center">На сегодняшний день оповещений нет</h2>
  		        <!-- <h2 class="center">На данной странице оповещений нет</h2> -->
  		    </div>
  		</div>
  		<div class="pagination center font-large padding-large">
            {% if is_paginated %}
                {% if page_obj.has_previous() %}
                    <a href="{{ url('news:news-list', kwargs={'number': page_obj.previous_page_number()}) }}">&laquo;</a>
                {% else %}
                    <a href="#" class="disable">&laquo;</a>
                {% endif %}
                {% for page_num in range(page_obj.paginator.num_pages) %}
                    <a href="{{ url('news:news-list', kwargs={'number': page_num + 1}) }}" class="{{ 'selected' if page_num + 1== page_obj.number else '' }}">{{ page_num + 1 }}</a>
                {% endfor %}
                {% if page_obj.has_next() %}
                    <a href="{{ url('news:news-list', kwargs={'number': page_obj.next_page_number()}) }}">&raquo;</a>
                {% else %}
                    <a href="#" class="disable">&raquo;</a>
                {% endif %}
            {% endif %}
  		</div>
  	</div>
{% endblock content %}