{% extends 'layout/base.html' %}

{% block content %}
    <section class="homepage center">
        <div class="present limit-1024">
            <div class="app column full animation-fade animation-tiles" style="/*background-color: #fcd135;*/">
                {{ important_message | safe }}
            </div>
            <div class="app column small center animation-fade animation-tiles animation-delay-1">
                <div class="studyweeks">
                    <span class="word start" style="font-size: 1.5em">{{ date_block.text }}</span>
                    <span class="number" style="font-size: 6em">{{ date_block.num }}</span>
                    <span class="word">{{ date_block.desc }}</span>
                    <div class="buttons">
                        <a href="{{ url('schedule:timetable') }}" class="button_primary">Расписание занятий</a>
                    </div>
                </div>
            </div>
            <div class="app column large animation-fade animation-tiles animation-delay-2">
                <div class="lastnews">
                    <h1>Последние публикации</h1>
                    <ul>
                        {% for news in latest_news %}
                            <li>
                                {{ news.date.strftime('%-d %B %Y') | title }} -
                                <a href="{{ news.get_url() }}">{{ news.title }}</a>
                            </li>
                        {% else %}
                            Последних публикаций нет...
                        {% endfor %}
                    </ul>
                    <div class="buttons">
                        <a href="{{ url('news:news-list') }}" class="button_primary">Все новости</a>
                    </div>
                </div>
            </div>
            {{ flatpage.content }}
        </div>
    </section>
{% endblock content %}
