<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">

	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<meta name="description" content="{% block description %}Сайт кафедры Системное Моделирование и Автоматизированное проектирование (СМиАП МАИ){% endblock description %}">
	<meta name="keywords" content="смиап smiap маи мати системное моделирование автоматизированное проектирование инженерная графика ИТ программирование autocad веб web php java c c++ расписание учебные пособия информационные технологии">
	<meta name="yandex-verification" content="678be5b2a2c96adf" />
	<link rel="stylesheet" href="{{ static('stylesheets/smiig-styles.css') }}">
	<link rel="stylesheet" href="{{ static('stylesheets/selectric.css') }}">
	<link rel="icon" type="image/x-icon" href="http://smiap.ru/favicon.ico">

	<link rel="stylesheet" type="text/css" href="{{ static('stylesheets/lightbox.min.css') }}">

	<!--[if lt IE 8]>
	<link rel="stylesheet" href="{{ static('stylesheets/comedown-min.css') }}">
	<![endif]-->

	<!--[if lt IE 9]>
	<style>
		body {
			min-width: 1024px;
		}
	</style>
	<script src="{{ static('scripts/html5shiv.min.js') }}"></script>
	<![endif]-->
	<script src="{{ static('scripts/jquery-3.2.1.min.js') }}" type="text/javascript"></script>
	<script src="{{ static('scripts/lib.js') }}" type="text/javascript"></script>

	<!-- vk share -->
	<script type="text/javascript" src="https://vk.com/js/api/share.js?93" charset="windows-1251"></script>

    <title>
        {% block title %}{{ APP_TITLE }}{% endblock title %}
    </title>

    {% block head %}{% endblock head %}
</head>
<body>
    {% include 'layout/header.html' %}

    <div class="container">
        {% block content %}{% endblock content %}
    </div>

    {% include 'layout/footer.html' %}
</body>
</html>