<nav class="subnav-horizontal center middle">
    {% for key, item in NAV_ITEMS.items() %}
        {% if item['id'] in ACTIVE_ITEMS %}
    		{% set delay = 1 %}
            {% for subitem in item['subitems'] %}
    			{% if ACTIVE_ITEMS[-1] == subitem['id'] %}
    				{% set activeitem = "selected" %}
    				{% set delay = "" %}
    			{% else %}
    				{% set activeitem = "animation-delay-" %}
    				{% set delay =+ 1 %}
    			{% endif %}
    			    <a href="{{ subitem['link'] }}" class="animation-slide-bottom {{ activeitem }}{{ delay }}">{{ subitem['title'] }}</a>
                {% endfor %}
            {% endif %}
    {% endfor %}
</nav>