<footer>
    <div class="footer_box middle center">
        <div class="width-50 left">
            <p>© 2019 Кафедра №316 «Системное моделирование и автоматизированное проектирование»</p>
        </div>
        <div class="width-30">
            <div class="secnav font-medium">
                <a href="{{ url('intro') }}">О кафедре</a>
                <a href="{{ url('abiturients') }}">Абитуриентам</a>
                <a href="{{ url('contacts') }}">Контакты</a>
                {# <a href="{$rootPath}about/intro">О кафедре</a>#}
                {# <a href="{$rootPath}abiturients">Абитуриентам</a>#}
                {# <a href="{$rootPath}about/contacts">Контакты</a>#}
            </div>
        </div>
        <div class="width-20 right">
            <img src="{{ static('images/smiap_footer_logo.png') }}" class="footer_logo" alt="СМиАП">
        </div>
    </div>
</footer>

<div id="authorbox">
    <h2>Designed by</h2>
    <h1>Sergey Tarasenko</h1>
    <p class="font-small center">Click on me to close...</p>
</div>
{# {if isset($subpage_id) && $subpage_id == 'timetable'} #}
{# <script src="{$resPath}scripts/sticky-week.js" type="text/javascript"></script> #}
{# {/if} #}


<script type="text/javascript" src="{{ static('scripts/jquery.selectric.min.js') }}"></script>

{#<!-- Yandex.Metrika counter -->#}
{#<script type="text/javascript">#}
{#    (function (d, w, c) {#}
{#        (w[c] = w[c] || []).push(function() {#}
{#            try {#}
{#                w.yaCounter43088154 = new Ya.Metrika({#}
{#                    id:43088154,#}
{#                    clickmap:true,#}
{#                    trackLinks:true,#}
{#                    accurateTrackBounce:true#}
{#                });#}
{#            } catch(e) { }#}
{#        });#}
{##}
{#        var n = d.getElementsByTagName("script")[0],#}
{#            s = d.createElement("script"),#}
{#            f = function () { n.parentNode.insertBefore(s, n); };#}
{#        s.type = "text/javascript";#}
{#        s.async = true;#}
{#        s.src = "https://mc.yandex.ru/metrika/watch.js";#}
{##}
{#        if (w.opera == "[object Opera]") {#}
{#            d.addEventListener("DOMContentLoaded", f, false);#}
{#        } else { f(); }#}
{#    })(document, window, "yandex_metrika_callbacks");#}
{#</script>#}
{#<noscript><div><img src="https://mc.yandex.ru/watch/43088154" style="position:absolute; left:-9999px;" alt="" /></div></noscript>#}
<!-- /Yandex.Metrika counter -->